@media screen and (min-width: 320px) and (max-width: 539px) {
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- NAVBAR STYLING --------------------------------------- */
    /* ******************************************************************************************************************************* */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
        width: 65%;
        padding: 0;
        margin: 0;
    }
    img.Logo {
        width: 100%;
    }
    .navbar-nav {
        font-size: 2rem;
        text-align: center;
        width: 65vw;
        padding: 0;
    }
    a.NavLink.active {
        background-color: #0ed145;
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- HOME STYLING --------------------------------------- */
    /* ******************************************************************************************************************************* */
    body {
        background: url('/images/backgrounds/stockslides/stock1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
        color: #ffffff;
    }
    #HomeBrand {
        position: relative;
        right: 6rem;
        width: 23rem;
        top: 3rem;
        text-align: center;
    }
    #BrandContext {
        font-size: 1.4rem;
    }
    #BrandHeading {
        font-size: 1.8rem;
    }
    .btnServices {
        font-size: 1rem;
        width: 10rem;
    }
    .btnClient {
        font-size: 1rem;
        width: 10rem;
    }
}