@media screen and (min-width: 540px) and (max-width: 640px) {
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- NAVBAR STYLING --------------------------------------- */
    /* ******************************************************************************************************************************* */
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    img.Logo {
        width: 100%;
        padding: 1rem;
    }
    .navbar-dark .navbar-toggler {
        background-color: #0ed145;
        width: 100%;
        color: #ffffff;
        font-size: 2rem;
    }
    .navbar-nav {
        font-size: 3rem;
        text-align: center;
        width: 100vw;
        padding: 0;
    }
    a.NavLink.active {
        background-color: #0ed145;
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- HOME STYLING --------------------------------------- */
    /* ******************************************************************************************************************************* */
    body {
        background: url('/images/backgrounds/stockslides/stock1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 102vh;
        color: #ffffff;
    }
    #HomeBrand {
        position: relative;
        right: 0.5rem;
        width: 33rem;
        top: 3rem;
        text-align: center;
    }
    #BrandContext {
        font-size: 2.4rem;
    }
    #BrandHeading {
        font-size: 2.8rem;
    }
    .btnServices {
        font-size: 1.5rem;
        width: 14rem;
    }
    .btnClient {
        font-size: 1.5rem;
        width: 14rem;
    }
}