/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (min-width: 1026px) and (max-width: 1308px) {
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE NAVBAR --------------------------------------- */
    /* ******************************************************************************************************************************* */
    #SiteLogo {
        margin-left: 20px;
        width: 30vw;
        height: 50px;
    }
    /* Removes nav padding and expands the logo visibility */
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark {
        display: flex;
        width: 100%;
        padding: 0;
    }
    /* Keeps Navbar from disappearing due to being in a fixed position */
    .navbar {
        display: flex;
        z-index: 999;
        height: 100px;
    }
    /* Resizes Navbar Links */
    .nav-item {
        font-size: 2.2rem;
    }
    /* Navbar Mobile Collapse Custom Styling */
    .navbar-light .navbar-toggler, .navbar-toggler-icon {
        background-color: #0ed145;
        border-radius: 0px;
        color: #ffffff;
        width: 100%;
    }
    /* Creates a nice new background for the collapse dropdown only in mobile */
    ul.navbar-nav.ml-auto {
        background-color: #343a40;
        width: 95%;
    }
    /* Keeps content aligned with everything, even when clicking the mobile dropdown hamburger */
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark {
        position: absolute;
    }
    /* Keeps the navbar 100% expanded across the screen */
    #nav-banner {
        width: 100%;
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE CAROUSEL --------------------------------------- */
    /* ******************************************************************************************************************************* */
    /* Carousel Center Alignment */
    .carousel-caption {
        position: relative;
        color: #fff;
        right: 2rem;
        top: 15rem;
        width: 75%;
    }
    /* Carousel Home Context "Professional Landscaping" Text */
    #ThumbTitle {
        margin-bottom: 1rem;
        font-size: 6rem;
    }
    /* Size of the parent id to 'ThumbTitle' */
    #ThumbContext {
        font-size: 3.8rem;
    }
    /* Pushes 'View Our Services' away from 'Become a Client' */
    #btnClient {
        margin-left: 1rem;
    }
    /* Home Button Styles & Size Control */
    #btnCompany, #btnClient {
        padding: 0 1rem 0rem 1rem;
        border-radius: 8px;
        font-size: 3rem;
        width: 100%;
    }
    /* Main 'Home Page' Section Definitions (VERY IMPORTANT, SITE WILL EXPLODE and CONTORT IF DELETED) */
    .home-section {
        background-repeat: no-repeat;
        position: fixed;
        display: flex;
        width: 100%;
    }
    /* Adjusts the Carousel Background Brightness Intensity (So text is more visible on images that contain brighter colors) */
    .carousel-item {
        filter: brightness(40%);
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE SERVICES --------------------------------------- */
    /* ******************************************************************************************************************************* */
    /* This section is left uncommented because it may be getting merged with the 'About Section'. */
    .services-section {
        overflow-y: visible !important;
        overflow-x: visible !important;
        margin-top: 5rem;
    }
    .service-info {
        flex-direction: column;
        align-items: center;
        align-content: center;
        display: flex;
    }
    #OurServices {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .service-info {
        text-align: center;
    }
    .service-info h2 {
        font-size: 1.3rem;
    }
    .Slides {
        background: url("/images/backgrounds/lawn.jpg") no-repeat center;
        background-position: center;
    }
}