/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (min-width: 1652px) and (max-width: 1808px) {
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE NAVBAR --------------------------------------- */
    /* ******************************************************************************************************************************* */
    #SiteLogo {
        margin-left: 20px;
        width: 30vw;
        height: 50px;
    }
    /* Removes nav padding and expands the logo visibility */
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark {
        display: flex;
        width: 100%;
        padding: 0;
    }
    /* Keeps Navbar from disappearing due to being in a fixed position */
    .navbar {
        display: flex;
        z-index: 999;
        height: 100px;
    }
    /* Resizes Navbar Links */
    .nav-item {
        font-size: 2.5rem;
    }
    /* Navbar Mobile Collapse Custom Styling */
    .navbar-light .navbar-toggler, .navbar-toggler-icon {
        border-radius: 0px;
        color: #ffffff;
        width: 100%;
    }
    /* Creates a nice new background for the collapse dropdown only in mobile */
    ul.navbar-nav.ml-auto {
        background-color: #343a40;
        width: 95%;
    }
    /* Keeps content aligned with everything, even when clicking the mobile dropdown hamburger */
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark {
        position: absolute;
    }
    /* Keeps the navbar 100% expanded across the screen */
    #nav-banner {
        width: 100%;
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE CAROUSEL --------------------------------------- */
    /* ******************************************************************************************************************************* */
    /* Carousel Center Alignment */
    .carousel-caption {
        position: relative;
        color: #fff;
        right: 2rem;
        top: 15rem;
        width: 75%;
    }
    /* Carousel Home Context "Professional Landscaping" Text */
    #ThumbTitle {
        margin-bottom: 1rem;
        font-size: 10rem;
    }
    /* Size of the parent id to 'ThumbTitle' */
    #ThumbContext {
        font-size: 6.8rem;
    }
    /* Pushes 'View Our Services' away from 'Become a Client' */
    #btnClient {
        margin-left: 2rem;
    }
    /* Home Button Styles & Size Control */
    #btnCompany, #btnClient {
        padding: 0 1rem 0rem 1rem;
        border-radius: 8px;
        font-size: 3.5rem;
        width: 100%;
    }
    /* Main 'Home Page' Section Definitions (VERY IMPORTANT, SITE WILL EXPLODE and CONTORT IF DELETED) */
    .home-section {
        background-repeat: no-repeat;
        position: fixed;
        display: flex;
        width: 100%;
    }
    /* Adjusts the Carousel Background Brightness Intensity (So text is more visible on images that contain brighter colors) */
    .carousel-item {
        filter: brightness(40%);
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- MOBILE RULES FOR THE SERVICES --------------------------------------- */
    /* ******************************************************************************************************************************* */
    /* Jumbo 'About Us' Brand */
    #aboutTitle {
        font-size: 10rem;
        position: absolute;
        text-align: center;
        z-index: 1;
        top: 18rem;
        color: white;
        left: 1rem;
        font-weight: bold;
        width: 100%;
    }
    /* Background Image Resize */
    .services-section {
        height: 430vh;
    }
    /* Parent Heading For 'Our Services' */
    h2.display-1.mt-5.text-success.font-weight-bold {
        font-size: 6.1rem;
    }
    /* 'Our Services' Child Paragraph (About Our Services) */
    #ServiceContext {
        font-size: 2.6rem;
        margin: auto;
        width: 100%;
    }
    /* Parent Label 'Premium Service Bundles' */
    h2.display-2.mt-5.text-success {
        font-size: 6.3rem;
    }
    /* Service Card Container */
    .ServiceCards {
        position: relative;
        margin-top: 100rem;
        left: 50rem;
    }
    /* Service Card Resize */
    .card {
        position: relative;
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: .25rem;
    }
    /* Service Cards Custom Width */
    .ServiceCards.w-50.mt-5 {
        width: 36vw !important;
        display: block;
    }
    /* Background Image Resize */
    .about-section {
        height: 100%;
    }
    /* Jumbotron Polygon Style */
    .jumbotron {
        clip-path: polygon(100% 0, 100% 100%, 60% 100%, 50% 88%, 42% 100%, 0 100%, 0 0);
        height: 50vh;
    }
    /* ******************************************************************************************************************************* */
    /*      --------------------------------------- CLIENT REGISTRATION STYLE --------------------------------------- */
    /* ******************************************************************************************************************************* */
    /* Keeps the register form tight and styled */
    #FormContainer {
        position: relative;
        top: 135px !important;
        background-color: #343a40;
        border: 4px solid #0ed145;
        border-radius: 2%;
        color: #ffffff;
        padding: 6vw;
        height: 79vh;
        margin: auto;
        width: 93%;
    }
    /* register Logo */
    #SiteLogoregister {
        display: none;
    }
    /* 'Register Account' Text */
    h2.display-2.text-center {
        font-size: 5.4rem;
        margin-top: 1rem;
    }
    /* Resizes the background */
    .register-section {
        background-image: Url(/images/backgrounds/register/bgregister.png);
        background-repeat: no-repeat cover;
        background-position-x: 260rem;
        height: 159vh;
    }
    /* Resizes the register Section */
    #FormContainer {
        position: relative;
        top: 110px;
        background-color: #343a40;
        border: 4px solid #0ed145;
        border-radius: 2%;
        color: #ffffff;
        padding: 6vw;
        height: 79vh;
        margin: auto;
        width: 93%;
        height: 87%;
    }
    /* Resize 'Already A Client?' Text */
    #AlreadyClient {
        margin-top: 8rem;
        font-size: 6.5rem;
    }
    /* 'register Now' Link */
    #registerNow {
        font-size: 5.5rem !important;
    }
}