




.clientWrapper{
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-color: burlywood;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.dashBanner{

    display: grid;
    height: 60vh;
    background-color: aquamarine;
   



}

.dashBanner p{
    font-size: 3.5rem;
}

.dashUpdates{
width: 30%;
}


.dashStats{
background-color: peru;
height: 60vh;
padding-left: 20px;

}

.dashStats li{
    font-size: 2rem;
    margin: 1rem;
}


.techCorner{
background-color: plum;
height: 35vh;
}

#feedback{
    font-size: 1.5rem;
    height: 20vh;
}

.dashFeedback Button{
    display: flex;
    align-content: center;
    margin-left: 300px;
    font-size: 2rem;
}