*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* Conversion that makes each rem = to 10px */
font-size: 62.5%;

}


.navbar{
  height:8vh;
  position: fixed;
  top: 0;
}

#nav-banner, .nav-item{
  font-size: 2rem;
}

.home-section h1{
  font-size: 6rem;
  
}
.home-section h3{
  font-size: 3rem;
 }

.home-section{
  min-height: 92vh;
  color: white;
  font-weight: 400;
  
  background: linear-gradient(rgb(37, 35, 35, 0.3),transparent),url("https://cdn.hipwallpaper.com/i/12/66/617eiI.jpg");
  
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.home-welcome{
  position: relative;
 
  margin-left: 5%;
  top: 22rem;
  padding-top: 2rem;
  /* background-color: rgba(29, 179, 146, 0.1); */
  text-transform: uppercase;
  width: 42%;
  
  mix-blend-mode: screen; 
}

.home-button{
  
  /* padding: 2rem 6rem; */
    background: green;
    border: none;
    
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.about-section{
  height: 100vh;
  background-color: brown;
}

.services-section{
  height: 100vh;
  background-color: yellow;
}


.login-section{
  height: 100vh;
  background-color: purple;
}