*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* Conversion that makes each rem = to 10px */
font-size: 62.5%;

}


.navbar{
  height:8vh;
  position: fixed;
  top: 0;
}

#nav-banner, .nav-item{
  font-size: 2rem;
}

.home-section h1{
  font-size: 5rem;
}

.home-section{
  min-height: 92vh;
  color: white;
  font-weight: 400;
  
  background: linear-gradient(rgb(37, 35, 35, 0.3),transparent),url("https://cdn.hipwallpaper.com/i/12/66/617eiI.jpg");
  
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.home-welcome{
 
  margin-left: 5%;
  
  padding-top: 2rem;
  
  width: 35%;
}


.about-section{
  height: 100vh;
  background-color: brown;
}

.services-section{
  height: 100vh;
  background-color: yellow;
}


.login-section{
  height: 100vh;
  background-color: purple;
}