/* ------------------------------ G L O B A L _ _ S T Y L I N G _ _----------------------------------------------- */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  opacity: 1;
  background: none;
  border: none;
  color: #ffffff;
}

#mobileThumb {
  display: none;
}

.btn-warning {
  color: #ffffff !important;
}

html {
  /* Conversion that makes each rem = to 10px */
  font-size: 62.5%;
}

/* ******************************************************************************************************************************* */




/* -----------------------------------------N A V B A R _ _ S E C T I O N _ _ S T Y L E S _ _ ----------------------------------- --- */

.navbar {
  height: 8vh;
  position: fixed;
  top: 0;
}

.nav-item {
  font-size: 2rem;
}



/* ******************************************************************************************************************************* */



/* -----------------------------------------H O M E _ _ S E C T I O N _ _ S T Y L E S _ _ ----------------------------------- --- */




.home-section h1 {
  font-size: 6rem;
}

.home-section h3 {
  font-size: 3rem;
}

.home-welcome, #ThumbTitle {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
  position: relative;
  font-size: 10rem;
  width: 100%;
}

.carousel-item {
  filter: brightness(60%);
}

.carousel-caption {
  position: absolute;
  top: 25rem;
  left: 10rem;
  width: 46%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 1193px;
  overflow: hidden;
}


/* Home Carousel Stock Slide Images */

.Slides {
  background: url("/images/backgrounds/lawn.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* overflow: hidden; */
  height: 100vh !important;
  width: 100vw !important;
}

#btnCompany, #btnClient {
  padding: 0 2rem 0rem 2rem;
  margin-right: 4rem;
  font-size: 4.5rem;
  border-radius: 10px;
}

/* ********************************************************************************************************************************* */




/* -------------------------------------------A B O U T _ _ S E C T I O N _ _ S T Y L E S _ _ --------------------------------------- */




.about-section {
  height: 100vh;
  /* background-color: rgba(12, 174, 214, 0.7); */
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.jumbotron {
  background: url("/images/backgrounds/jumbostock.png");
  /* background: url("https://images.unsplash.com/photo-1472133530746-ae9b21e91c41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: left bottom -20rem; */
  height: 40vh;
  transform: scaleX(-1);
  /* filter: grayscale(75%); */
  /* filter: blur(0.2rem) brightness(70%); */
  color: white;
  /* border-bottom: 1rem solid #696969; */
}

.jumbo {
  transform: scaleX(-1);
}
#AboutContent {
  margin-top: 5%;
}
#AboutBrand {
  font-size: 5rem;
  font-weight: bold;
}
#AboutContext {
  font-size: 3rem;
  margin: auto;
  width: 50%;
}

#aboutTitle {
  font-size: 15rem;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  color: white;
  left: 38vw;
  top: 20vh;
  font-weight: bold;
}


/* ***************************************************************************************************************************************** */





/* --------------------------------S E R V I C E S _ _ S E C T I O N _ _ S T Y L E S ------------------------------------------------------- */



.services-section {
  height: 100vh;
  background-color: yellow;
}



.services-section {
  margin: auto;
  height: 100%;
  background: linear-gradient(0, rgba(238, 228, 228, 0.7), rgba(238, 228, 228, 0.7)), url("https://images.unsplash.com/photo-1586280268958-9483002d016a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1281&q=80");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: darken;
}

.service-info {
  margin: auto;
  width: 95%;
  position: relative;
  top: 3rem;
  bottom: 3rem;
}

.service-info h1 {
  font-size: 4rem;
}

.service-cards {
  margin: auto;
  width: 95%;
  position: relative;
  top: 7rem;
}

.card-info {
  margin: auto;
  width: 95%;
}

.cardtitle {
  background-color: rgba(238, 228, 228, 0.7);
}


/* *************************************************************************************************************************************** */



/* -------------------------------- L O G I N _ _ S E C T I O N _ _ S T Y L E S----------------------------------------------------------- */





.login-section {
  height: 100vh;
  background-color: purple;
}



/* Media Queries */

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}